.submenuContainer {}

.submenuCategory {}

.submenuCategoryText {}

.submenuCategoryImage {}

.activeSubmenuContainer {}

.backButtonAndImageContainer {}

.activeSubmenuImageContainer {}

.activeSubmenuImage {}

.backToMainButton {}

.submenuDescription {}

.submenuContainerNoPhotos {}

.submenuCategoryNoPhotos {}

.submenuCategoryTextNoPhotos {}

.submenuCategoryImageNoPhotos {}

.loadingDirectLink {}

.showAllLink {}

.showAllLinkContainer {}

.submenuCategory:focus-visible,
.submenuCategoryNoPhotos:focus-visible,
.backToMainButton:focus-visible {
    outline: 5px solid darkorange;
    outline-offset: 0.5rem;
    border-radius: 0.25rem;
}

.spinner {
    width: 1.75rem;
    height: 1.75rem;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}